{% extends "teahelper/base.html" %}

{% block title %}Панель администратора{% endblock %}

{% block content %}

<div class="container-fluid admin-container">
    <h2 class="admin-title">Панель администратора</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover admin-table">
            <thead>
                <tr>
                    <th scope="col">Кто</th>
                    <th scope="col">Куда</th>
                    <th scope="col">Контакты</th>
                    <th scope="col">Чай</th>
                    <th scope="col">Тип оплаты</th>
                    <th scope="col">Действия</th>
                    <th scope="col">Удалить</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                <tr>
                    <td class="align-middle">{{ request.user }}</td>
                    <td class="align-middle">{{ request.address }}</td>
                    <td class="align-middle">{{ request.contact_info }}</td>
                    <td class="align-middle">{{ request.tea.get_name_display }}</td>
                    <td class="align-middle">{{ request.get_pay_type_display }}</td>
                    <td>
                        <div class="modal fade" id="cancelModal_{{ request.id }}" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel_{{ request.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content admin-modal-content">
                                    <div class="modal-header admin-modal-header">
                                        <h5 class="modal-title admin-modal-title" id="cancelModalLabel_{{ request.id }}">Отмена заявки</h5>
                                        <button type="button" class="close admin-modal-close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="{% url 'update_request_status' request.id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="cancellation_reason_{{ request.id }}">Причина отмены:</label>
                                                <textarea name="cancellation_reason" class="form-control" id="cancellation_reason_{{ request.id }}" required></textarea>
                                            </div>
                                            <input type="hidden" name="status" value="canceled">
                                            <button type="submit" class="btn admin-btn admin-modal-save">Сохранить</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer admin-modal-footer">
                                        <button type="button" class="btn admin-btn admin-modal-close" data-dismiss="modal">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <form method="post" action="{% url 'delete_request' request.id %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn admin-btn admin-btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9" class="admin-empty-message">Нет доступных заявок</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}