{% extends "teahelper/base.html" %}

{% block title %}Чайна компания{% endblock %}

{% block content %}
{% load static %}

<div class="hero">
    <div class="hero-text">
        <h1>Привет{% if user.is_authenticated %}, <span>{{ user.username }}</span>{% endif %}, и добро пожаловать на сайт</h1>
        <h3>Слова крутые очень."</h3>
        {% if not user.is_authenticated %}
        <a href="{% url 'register' %}" class="btn btn-primary">Регистрация</a>
        <a href="{% url 'login' %}" class="btn btn-primary" style="margin-left: 15px;">Логин</a>
        {% endif %}
    </div>
    <div class="hero-image">
        <img src="{% static 'img/hero.jpg' %}" alt="Hero Image">
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-4">Наша история</h2>
            <p> Мы основали компанию "Мой Не Сам" в 2010 году с целью предоставить качественные услуги по уборке домов и офисов. Начав с небольшого количества клиентов, мы быстро набрали популярность благодаря нашей профессионализму и ответственному подходу к работе. Сегодня мы гордимся тем, что можем предложить широкий спектр услуг по уборке и химчистке, а также работаем с множеством доверяющих нас клиентов.</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-4">И что же такое этот ваш "Клининг"?</h2>
            <p> Профессиональная уборка помещений специализированной компанией. Она предусматривает специальный инвентарь, технику нового поколения - это мопы и тряпки, роторные и экстракторные машины, промышленные пылесосы. А так же чистящие и моющие средства современных технологий. Кроме этого, обязательно следует учитывать гипоаллергенность химии! Плюс грамотный персонал - который прошел специальное обучение. К сожалению далеко не все компании могут похвастаться всем вышеперечисленным и предоставить действительно качественные услуги. Многие просто экономят средства используя бытовое оборудование и дешевые расходные материалы.</p>
        </div>
    </div>
</div>

<div class="services-section container">
    <h2 class="text-center mb-5">Наши услуги</h2>
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="service-card">
                <img src="{% static 'img/common_clean.png' %}" alt="Общая уборка" style="width: 100%; height: 250px; object-fit: cover; margin-bottom: 20px;">
                <h5>Общая уборка</h5>
                <p>Полная уборка вашего дома или офиса. И всё будет пахнуть розами!</p>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="service-card">
                <img src="{% static 'img/house-cleaning.jpg' %}" alt="Генеральная уборка" style="width: 100%; height: 250px; object-fit: cover; margin-bottom: 20px;">
                <h5>Генеральная уборка</h5>
                <p>Тщательная уборка с акцентом на каждую деталь. Даже на трупики тараканов.</p>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="service-card">
                <img src="{% static 'img/clean3.png' %}" alt="Послестроительная уборка" style="width: 100%; height: 250px; object-fit: cover; margin-bottom: 20px;">
                <h5>Послестроительная уборка</h5>
                <p>Уборка после ремонта, строительства или реконструкции. Уберем монтажную пену, сгоним пыль.</p>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="service-card">
                <img src="{% static 'img/furntire_clean.jpg' %}" alt="Химчистка ковров и мебели" style="width: 100%; height: 250px; object-fit: cover; margin-bottom: 20px;">
                <h5>Химчистка ковров и мебели</h5>
                <p>Профессиональная химчистка вашего ковра или дивана от каждого следа присутствия котов.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}